#deal {
    ion-fab-button {
        --background: transparent;
        --background-focused: transparent;
        --background-activated: transparent;
    }

    ion-card-title {
        font-size: 1.2rem;
    }
}