#orders {
    .ionChip {
        --background: var(--ion-color-color1);
        --color: var(--ion-color-white);
    }

    ion-card-title {
        font-size: medium;
    }

    .col-right {
        text-align: right;
    }
}